.videoitem_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .videoitem {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
  }

  .itemtext {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;

    @media only screen and (min-width: 481px) {
      white-space: normal;
    }

    @media only screen and (min-width: 1024px) {
      white-space: nowrap;
    }
  }
}

.videoitem_container:not(:last-child) {
  margin-bottom: 14px;
}
