.videoitem_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .videoitem {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
  }

  .itemtext {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

.videoitem_container:not(:last-child) {
  margin-bottom: 14px;
}

.video-item.item img {
  max-width: 180px;
}
